#background {
  background-image: url("Materials/wmremove-transformed.jpeg");
}

/* Apply to any scrollable element */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* or a soft color */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  /* dark thumb with some transparency */
  border-radius: 10px;
  border: 2px solid transparent;
  /* space around thumb */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  margin: 0;
}

.bd:hover {
  border-radius: 50px;
  box-shadow: 0 0 0 10px rgba(82, 84, 84, 0.3); /* Outer glow effect */
  padding: 3px;
}

.imgsize {
  width: 50px;
  height: 50px;
}

.filter-indigo {
  filter: invert(24%) sepia(89%) saturate(1546%) hue-rotate(230deg)
    brightness(94%) contrast(90%);
}
