footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.moodvie {
    display: block;
    font-weight: bold;
    font-size: 1.1cm;
}

.copyright {
    display: block;
    font-size: 0.9em;
    color: #ffffff;
}